@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #000000;
  /* --background-start-hex: #000; */
  --background-start-hex: #2e1065;
  --background-middle-hex: #4C1D95;
  --background-end-hex: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #000;
    /* --background-start-hex: #000; */
    --background-start-hex: #450a0a;
    --background-middle-hex: #991b1b;
    --background-end-hex: #000000;
  }
}

body {
  color: var(--foreground-hex);
  background: radial-gradient(circle,
      var(--background-middle-hex),
      var(--background-end-hex)) var(--background-start-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}